
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

      <div class="first" >
         <h1>Create an Account</h1>
            {% load crispy_forms_tags %}
            {% block content %}
        <div class="form">
          <form method="POST" class="form-group">
	       {% csrf_token %}
	       {{ form|crispy }}
         <div class="btn">
          <button type="submit" class="btn btn-success">Register</button>
         </div>

         </form>
        </div>
       </div>
          {% endblock %}
</body>
</html>